serversdatabase
database
Server/server
Client/client
ServiceServer/serviceserver
TicketServer/ticketserver
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
Makefile
client
cmake_install.cmake
serviceserver
ticketserver
